<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyk.springev2.mappers.TickerMapper">
    <insert id="insert">
        insert into `exam_0502`.`tickers` (`id`, `name`)
        values (#{ticker.id}, #{ticker.name});
    </insert>

    <delete id="deleteById">
        delete from `exam_0502`.`tickers`
        where `id` = #{id}
        limit 1
    </delete>

    <select id="selectAll">
        select `id`   as `id`,
               `name` as `name`
        from `exam_0502`.`tickers`
        order by `id` asc
    </select>

    <select id="selectById" resultType="com.tyk.springev2.entities.TickerEntity">
        select `id` as `id`
        from `exam_0502`.`tickers`
        where `id` = #{id}
    </select>
</mapper>